@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Raleway:wght@300;400;700&display=swap");

:root {
  --opensans: "Open Sans", sans-serif;
  --raleway: "Raleway", sans-serif;
  --orange: #ff8b38;
  --gray: #cccccc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--opensans);
}

* a {
  text-decoration: none;
}

header {
  width: 100%;
  background-color: black;
}

section {
  padding: 0 20%;
}

header section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin: 0 auto;
  padding: 1vh 20%;
}

header section nav ul {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  list-style-type: none;
  width: 100%;
}

header section nav ul li a {
  display: block;
  text-align: center;
  color: var(--gray);
  font-family: var(--opensans);
}

header section nav ul li a:hover {
  color: var(--orange);
}

header section nav ul li {
  transition: all 0.2s;
}

header section nav ul li:hover {
  transform: scale(1.2);
}

header .logo {
  color: white;
  font-weight: 700;
  font-size: 40px;
  font-family: var(--opensans);
}

header .logo span {
  color: var(--orange);
  font-weight: 300;
  font-size: 40px;
  font-family: var(--opensans);
}

main .free-trial-form {
  background: linear-gradient(rgba(178, 178, 178, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/170165-pustynya-makaron-peyzash-priroda-dyuna-3840x2160.jpg);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

main .free-trial {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 700px;
  align-items: center;
  column-gap: 2vh;
  padding: 5vh 0;
}

main .free h1 {
  color: white;
  font-weight: 700;
  font-size: 90px;
  font-family: var(--opensans);
}

main .free span {
  color: var(--orange);
  font-weight: 300;
  font-size: 90px;
  font-family: var(--opensans);
}

main .free h2 {
  color: white;
  font-family: var(--raleway);
  font-weight: 400;
  font-size: 35px;
  padding-bottom: 3vh;
}

main .free hr {
  border: 1px solid white;
  width: 100px;
}

main .free p {
  padding-top: 3vh;
  color: var(--gray);
  font-family: var(--opensans);
  font-weight: 400;
  font-size: 18px;
  text-align: justify;
  padding-bottom: 5vh;
}

main .free .download a {
  border: 3px solid white;
  color: white;
  padding: 10px 30px;
  font-family: var(--opensans);
  transition: all 0.5s ease;
  border-radius: 3px;
}

main .free .download a:hover {
  border-color: var(--orange);
  color: var(--orange);
}

main .trial {
  display: grid;
  justify-content: end;
  grid-template-columns: 1fr 2fr;
}

main .trial div {
  border-radius: 2%;
  background-color: white;
  grid-column: 2/3;
  border-radius: 10px;
}

main .trial div h3 {
  font-family: var(--opensans);
  font-size: 20px;
  font-weight: bold;
  background-color: #f5f5f5;
  text-align: center;
  padding: 3vh 0;
  color: black;
  border-radius: 10px 10px 0 0;
}

main .trial div h3 span {
  color: var(--orange);
  font-size: 20px;
}

main .trial form {
  padding-top: 4vh;
  text-align: center;
}

main .trial form input {
  height: 6vh;
  padding-left: 30px;
  margin: 10px 0;
  width: 80%;
  border: none;
  border-bottom: 1px solid #f5f5f5;
}

main .trial form button {
  border: none;
  width: 100%;
  padding: 20px 0;
  margin-top: 20px;
  border-radius: 0 0 10px 10px;
  color: white;
  background-color: var(--orange);
  font-family: var(--opensans);
  cursor: pointer;
}

main section.icons {
  border-bottom: 2px solid var(--gray);
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

main section.icons h2 {
  font-size: 150%;
  font-family: var(--opensans);
}

main section.icons p {
  padding-top: 1vh;
  letter-spacing: 0.2px;
  color: #828282;
  font-family: var(--opensans);
}

main section.icons .item-icons {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-content: space-between;
}

main section.icons i {
  font-size: 300%;
  display: block;
  text-align: center;
  color: var(--gray);
  transition: all 0.3s;
  cursor: pointer;
}

main section.icons i:hover {
  color: var(--orange);
}

.tabs {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  align-items: center;
  background-color: #f5f5f5;
  justify-items: center;
  padding: 120px 16%;
}

.tabs ul {
  list-style-type: none;
}

.tabs ul li {
  color: white;
  background-color: #333333;
  cursor: pointer;
  padding: 45px 35px;
  font-family: var(--opensans);
  font-weight: 600;
  transition: all 0.2s ease;
}

.tabs ul li:hover {
  background-color: var(--orange);
}

.tab_content h2 {
  font-family: var(--opensans);
  padding-bottom: 50px;
  font-size: 20px;
}
.one {
  font-family: var(--opensans);
  padding-bottom: 25px;
  font-size: 15px;
  color: #828282;
}

.two {
  font-family: var(--opensans);
  padding-bottom: 60px;
  font-size: 15px;
  color: #828282;
}

.button a {
  padding: 2.2% 4%;
  border-radius: 3px;
  background-color: var(--orange);
  color: white;
  font-family: var(--opensans);
  border: 2px solid var(--orange);
  transition: all 0.5s ease;
}
.button a:hover {
  background-color: white;
  color: #333333;
}
.sub_list {
  display: grid;
  grid-template-columns: 1fr 4fr;
  font-family: var(--opensans);
}

.content-image {
  display: grid;
  grid-template: 1fr/repeat(2, 1fr);
  align-items: center;
  justify-items: start;
  padding: 30px 20%;
}

.content-image img {
  width: 80%;
  height: 80%;
  object-fit: cover;
}

.content-image .content {
  display: grid;
  grid-template: 40px 20px 1fr 2fr/1fr;
}

.content-image .content hr {
  width: 10%;
  height: 1px;
  border:1px solid var(--orange);
}

.content-image .items-icons .item {
  display: grid;
  grid-template: 1fr/1fr 5fr;
  align-items: center;
}

.content .icon {
  border: 2px solid var(--orange);
  width: 40px;
  height: 40px;
  display: grid;
  align-items: center;
  justify-items: center;
  border-radius: 50%;
}

.content .icon i {
  color: var(--orange);
}

.content .title {
  padding: 10px 0;
  display: grid;
  row-gap: 10px;
}

.right {
  background-color: #f5f5f5;
  justify-items: end;
}

.right .content {
  row-gap: 20px;
  
}

.why {
  display: grid;
  grid-template: 40px 10px 40px 1fr/1fr;
  justify-items: center;
  align-items: center;
  padding: 40px 20%;
  row-gap: 10px;
}

.why h2 {
  font-size: 200%;
  font-weight: 400;
}
.why hr{
  width: 10%;
  border: 1px solid var(--orange);
  border-radius: 2px;
  height: 1px;
}

.why .why-items {
  padding: 20px 0;
  display: grid;
  grid-template: 1fr/repeat(3, 1fr);
}

.why .why-item{
  display: grid;
  justify-items: center;
  grid-template-rows: 40px 40px 1fr;
  align-items: center;
  text-align: center;
}

.why .why-item .why-icon {
  border: 2px solid var(--orange);
  display: grid;
  align-items: center;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.why .why-item .why-icon i {
  color: var(--orange);
  font-size: 150%;
  
}


main section.pricing {
  background-color: #f5f5f5;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  row-gap: 20px;
}

main section.pricing h2 {
  margin-top: 8%;
  font-size: 200%;
  font-weight: 400;
}

main .pricing .opis {
  margin-bottom: 5%;
  color: rgb(85, 85, 85);
}

main section.pricing hr {
  border: 1px solid var(--orange);
  width: 8%;
  border-radius: 2px;
}

main section.pricing .items-pricing {
  width: 100%;
  display: grid;
  grid-template: 1fr/repeat(3, 1fr);
  justify-items: center;
}

main section.pricing .items-pricing ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr;
  width: 80%;
  padding-top: 3vh;
  cursor: pointer;
}

main section.pricing .items-pricing ul.active {
  padding: 0;
}

main section.pricing .items-pricing ul li {
  width: 100%;
  background-color: rgb(255, 255, 255);
  text-align: center;
  padding: 10px 0;
  border: 1px solid #f5f5f5;
  color: rgb(85, 85, 85);
}

main section.pricing .items-pricing ul li:nth-child(1) {
  background-color: #333333;
  color: white;
  font-size: 120%;
  font-weight: bold;
  padding: 20px 0;
  border: 0;
}

main section.pricing .items-pricing ul li:nth-child(2) {
  background-color: #333333;
  color: white;
  font-size: 200%;
  font-weight: bold;
  padding-top: 3vh;
  padding-bottom: 3vh;
  border: 0;
  border-top: 1px solid white;
}

main section.pricing .items-pricing ul li:nth-child(3) {
  background-color: var(--orange);
  color: var(--orange);
  font-size: 5%;
  font-weight: bold;
  border: 0;
  padding: 0;
}

main section.pricing .items-pricing ul li:nth-child(3).active {
  font-size: 20px;
  padding-top: 1vh;
  padding-bottom: 1vh;
  color: white;
  transition: all 1s;
}

main section.pricing .items-pricing ul li:nth-child(2) p:first-child {
  font-size: 35px;
}

main section.pricing .items-pricing ul li:nth-child(2) p:first-child span {
  font-size: 75px;
}

main section.pricing .items-pricing ul li:nth-child(2) p:last-child {
  font-size: 17px;
  font-weight: normal;
  font-style: italic;
  opacity: 0.7;
  text-transform: capitalize;
}
